In [31]:
import pandas as pd

#استدعاء ملف البيانات
#استخدم الصف الثاني ك Header بدل الصف الأول المكرر
df = pd.read_csv('/content/Patients transported to hospitals by the SRCA.csv', header=1)

In [32]:
df.dtypes

Road accidents            object
Altercation               object
falls                     object
Burns                     object
Drowning                 float64
Other accidents           object
Diseases                  object
Total                     object
Administrative Region     object
dtype: object

In [33]:
df.head()

,Road accidents,Altercation,falls,Burns,Drowning,Other accidents,Diseases,Total,Administrative Region
0,"34,849","6,821","10,000","3,060",230.0,"52,825","98,279","206,064",Riyadh
1,"32,824","9,238","13,688","2,680",274.0,"62,091","154,861","275,656",Makkah
2,"8,175","1,502","4,381",454,58.0,"16,579","45,508","76,657",Medinah
3,"5,576",735,"2,172",316,58.0,"6,904","18,878","34,639",Qaseem
4,"14,087","3,279","5,077",490,105.0,"20,025","47,785","90,848",Eastern

In [34]:
# عدد القيم المفقودة لكل عمود
df.isnull().sum()

Road accidents           1
Altercation              1
falls                    1
Burns                    1
Drowning                 1
Other accidents          1
Diseases                 1
Total                    1
Administrative Region    1
dtype: int64

In [35]:
df.fillna(0, inplace=True)

In [36]:
#تحويل جميع الاعمده الرقمية لاعداد صحيحهint
numeric_cols = ['Road accidents', 'Altercation', 'falls', 'Burns', 'Drowning',
                'Other accidents', 'Diseases', 'Total']

df[numeric_cols].replace(',', '', regex=True).astype(int)

,Road accidents,Altercation,falls,Burns,Drowning,Other accidents,Diseases,Total
0,34849,6821,10000,3060,230,52825,98279,206064
1,32824,9238,13688,2680,274,62091,154861,275656
2,8175,1502,4381,454,58,16579,45508,76657
3,5576,735,2172,316,58,6904,18878,34639
4,14087,3279,5077,490,105,20025,47785,90848
5,8980,1345,2629,225,35,11260,26101,50575
6,3862,955,1005,137,28,4150,13143,23280
7,2757,44,5077,147,27,4486,8904,21442
8,1017,160,263,61,9,1622,3428,6560
9,4468,455,1712,160,46,4631,12898,24370
10,1525,384,580,45,35,1578,5394,9541
11,1913,207,725,91,24,1983,6176,11119
12,1667,161,480,67,25,2524,4637,9561
13,121700,25286,47789,7933,954,190658,445992,840312
14,0,0,0,0,0,0,0,0

In [37]:
df.columns

Index(['Road accidents', 'Altercation', 'falls', 'Burns', 'Drowning',
       'Other accidents', 'Diseases', 'Total', 'Administrative Region'],
      dtype='object')

In [38]:
#حذف المسافات
df.columns = df.columns.str.strip()

In [39]:
# حذف آخر صف
df=df.drop(df.index[-1]).reset_index(drop=True)
df.tail()

,Road accidents,Altercation,falls,Burns,Drowning,Other accidents,Diseases,Total,Administrative Region
9,"4,468",455,"1,712",160,46.0,"4,631","12,898","24,370",Jazan
10,"1,525",384,580,45,35.0,"1,578","5,394","9,541",Najran
11,"1,913",207,725,91,24.0,"1,983","6,176","11,119",Al -Bahah
12,"1,667",161,480,67,25.0,"2,524","4,637","9,561",Al-Jouf
13,"121,700","25,286","47,789","7,933",954.0,"190,658","445,992","840,312",Total

In [40]:
#حفظ نسخه من البيانات بعد تنظيفها
df.to_csv('cleaned_red_crescent_data.csv', index=False)